/*this is for the upper container with the portrait and short description*/
.lightgraybackground {
    background: lightgray;
}

.topbanner {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
    border-style: solid;
    background-color: rgb(175, 175, 175);
    margin: 10px;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: solid black;
}

.portraitDescription {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}

.maincontainers {
    border-style: solid;
    border-width: 2px;
}

.flexible {
    display: flex;
}

/*unified to be a single class*/
.middlecareers {
    flex: 50%;
    text-align: center;
    margin: 5px;
    border: solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    background-color: rgb(175, 175, 175);
}

/*Screenwriting on the left, Copywriting on the right*/
.columnheads {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}

.contactcontainer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    margin: 5px;
    border: solid black;
    background-color: rgb(175, 175, 175);

}

#websitelink {
    margin: 5px;
}