.uppercontainer {
    border-style: double; background-color: gray;
}
.topbanner {
    text-align: center; font-family:'Courier New', Courier, monospace; font-weight: bolder; color: black;
    border-style: dashed; background-color: darkred;
}
.portrait {
    display: block; margin-left: auto; margin-right: auto; width: 75%;
}